@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
  margin: 0;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: orangered;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 60px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
  font-size: 18px;
  font-weight: bold;
}
.logoDiv img {
  margin-right: auto;
  filter: hue-rotate(60deg);
}
.btn-goback {
  display: inline;
  margin-left: auto;
  margin-top: auto;
  padding: 5px 15px;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #101010;
  height: 80px;
  border-top: 1px solid #eaeaea;
  background-color: #f7fff7;
}
